///
// Base global defaults
///
// $base-background:   linear-gradient(to right, red, orange, yellow, green, blue, purple);
$base-background:   #fff;
$base-color:        #000;
$base-font-family:  'Roboto', sans-serif;
$base-font-size:    14px;
$base-line-height:  1.5;
