/* ------------------------------------ *\
    #MODAL
\* ------------------------------------ */

.c-modal {
    position: fixed;
    z-index: 1;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 95vw;
    max-width: 800px;
    display: flex;
    background: #fff;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.8);
}

.c-modal__inner {
    width: 100%;
    padding: 20px;

    @include media('sm') {
        padding: 50px;
    }
}

.c-modal__img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.example-enter {
    opacity: 0.01;
}

.example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.example-leave {
    opacity: 1;
}

.example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}
