/* ------------------------------------ *\
    #CARD
\* ------------------------------------ */

.c-card {
    position: relative;
    overflow: hidden;
    backface-visibility: hidden;

    &:hover {
        cursor: pointer;
    }
}

.c-card__heading {
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background: $branding-gradient;
    opacity: 1;
    transform: translateY(0) rotate(0deg);
    transition: all 200ms ease;

    @include media('sm') {
        opacity: 0;
        transform: translateY(72px) rotate(-20deg);
        transform-origin: right;
    }

    .c-card:hover & {
        opacity: 1;
        transform: translateY(0) rotate(0deg);
    }
}

.c-card__title {
    font-family: $branded-font-family;
    font-size: 18px;
    color: #fff;

    @include media('md') {
        font-size: 26px;
    }
}
