/* ------------------------------------ *\
    #TAG
\* ------------------------------------ */

.c-tag {
    border-radius: 50px;
    background: $branding-gradient;
    padding: 8px;
    margin-right: 10px;
    color: #fff;
}
