/* ------------------------------------ *\
    #LOGO
\* ------------------------------------ */

$logo-dimension: 100px;

.c-logo {
    position: relative;
    width: $logo-dimension;
    margin: 0 auto;
    margin-bottom: 20px;

    @include media('sm') {
        margin-bottom: 40px;
    }
}
